@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  &:before {
    content: "";
    content: "";
    width: 100%;
    height: 100vh;
    background: rgb(78, 194, 124);
    background: linear-gradient(
      135deg,
      rgb(146, 248, 168) 0%,
      rgb(78, 194, 124) 33%,
      rgb(44, 171, 82) 66%
    );
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

// Pagination
.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto;
  padding: 1.2rem 0;
}

.pagination li {
  padding: 0 0.25rem;
  color: white;
  font-size: 20px;
}

.pagination li:first-child,
.pagination li:last-child {
  font-weight: 700;
  font-size: 36px;
}

.pagination li.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  font-weight: 500;
}

@media only screen and (max-width: 576px) {
  .pagination li {
    font-size: 18px;
  }

  .pagination li:first-child,
  .pagination li:last-child {
    font-size: 32px;
  }

  .pagination li.active {
    width: 42px;
    height: 42px;
  }
}

@media only screen and (max-width: 375px) {
  .pagination li {
    font-size: 16px;
  }

  .pagination li:first-child,
  .pagination li:last-child {
    font-size: 28px;
  }

  .pagination li.active {
    width: 36px;
    height: 36px;
  }
}
